<div class="container">
  <h1><%= @list.name %></h1>

<% @list.books.each do |book| %>
  <div class="card-product">
    <%= book.book_cover %>
    <div class="card-product-infos">
      <h2><%= book.name %> - <%= book.author %></h2>
      <p><%= book.description %></p>
    </div>
  </div>
<% end %>

  <%= render "shared/bookmark_form" %>
</div>
